h1,h2,h3,h4,h5,h6 {
	font-family: 'Quicksand', sans-serif;
}
p, a {
    font-family: 'Montserrat', sans-serif;
}

/* this should be on another css file, but for rush reaseons it will remain here for a while */
.w3-twitter,.w3-hover-twitter:hover{color:#FFFFFF!important;background-color:#1DA1F2!important}